<div class="row">
  <div class="col-md-6">
    <h1>PLAN THE EVENT OF YOUR LIFE</h1>
    <p class="headline-text">Who am I kidding.. all this site really does is facilitate the invitation of others to an event that you set up. While that might actually be useful, it's nothing you can't already do on facebook, and everyone is already signed up for facebook these days, so why not just use that one?  I mean, if they are already on facebook then why on earth would they want to sign up for this silly page?</p>
  </div>
  <div class="col-md-6">
    <%= image_tag("rockparty.jpg", :class => "img-responsive border-bottom box-shadow", :alt => "picture of big party in the city") %>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        <%= image_tag("cityparty.jpg", :class => "img-responsive") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("outsideparty.jpg", :class => "img-responsive") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("birthdayparty.jpg", :class => "img-responsive") %>
    </div>
</div>
