@import "bootstrap-sprockets";
@import "bootstrap";

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Tillana:500,700';

// colors and variable
$white: #E9EAE4;
$blue: #90C3C4;
$grey: #6A6762;
$dark: #43434F;
$gold: #E6AF4A;

body {
  background-color: $white;
  color: $dark;
  font-family: 'Open Sans', sans-serif;
  h1, h2, h3 {
    font-family: "Tillana", serif;
  }
  h1 {
    font-size: 48px;
  }
}

.row {
  margin-bottom: 15px;
}


.headline-text {
  font-size: 24px;
}

form {
  * {
    display: block;
    width: 100%;
  }
  .btn {margin-top: 15px;}
}

.btn-primary {
  background-color: $dark;
  color: $gold;
  border: none;
  &:hover {
    background-color: $dark;
    color: $white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
  }
}



// NAVBAR

$dropDown       : true;
.navbar-inverse {
  background-color: $dark;
  border-color: $dark;
  .navbar-brand {
    color: $gold;
    &:hover, &:focus {
      color: $white; }}
  .navbar-text {
    color: $white; }
  .navbar-nav {
    > li {
      > a {
        color: $white;
        &:hover,  &:focus {
          color: $gold; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $dark;
          > li {
            > a {
              color: $white;
              &:hover,  &:focus {
                color: $gold;
                background-color: $dark; }}
            > .divider {
              background-color: $dark;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $gold;
          background-color: $dark; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $gold;
        background-color: $dark; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $gold;
        background-color: $dark; }}}
  .navbar-toggle {
    border-color: $dark;
    &:hover, &:focus {
      background-color: $dark; }
    .icon-bar {
      background-color: $white; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $white; }
  .navbar-link {
    color: $white;
    &:hover {
      color: $gold; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $white;
      &:hover, &:focus {
        color: $gold; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $gold;
        background-color: $dark; }}}
}

.navbar-brand {
  font-family: "Tillana", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}

.border-bottom {
  border-bottom: $blue 5px solid;
}

.box-shadow {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
}

// user index page:

.users {
  list-style-type: none;
  li {
    background-color: $grey;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border-bottom: 5px solid $blue;
    &:hover{
      box-shadow: none;
    }
    a {
      color: white;
      font-size: 16px;
      font-weight: 700;
      &:hover{
        color: $gold;
        text-decoration: none;
      }
    }
  }
}
